/*================================================
        header  part start
=================================================*/

.background-booking-as {
    border-radius: 12px;
    position: relative;
    top: -62px;
    background-color: #26e9c1a1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 315px;
    width: 91%;
    left: 68px;
    padding: 20px 41px;
}

.backbook {
    background-color: #F2F4FB;
    height: 800px;
    width: 100%;
}

.opacitybooking {
    background: #ba3e3e8a;
    margin-left: -41px;
    margin-right: -41px;
    margin-top: -20px;
    height: 300px;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.custom-control {
    top: 38px;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-content>.active {
    color: black;
}


/* style for selection form */

.form-row {
    margin-top: -12px;
}


/* start style for insid adult book */

.input-book-as {
    width: 93%;
}

.icon-as {
    position: absolute;
    top: 7px;
    left: 18px;
}

.container-as {
    float: right;
    padding-bottom: 14px;
}

.icon-as1 {
    position: absolute;
    top: 54px;
    left: 17px;
}

.insid-btn {
    width: 45px;
}

.dropdown-menu {
    margin-left: -92px;
    min-width: 15rem;
    font-family: cursive;
    background-color: #ffffffba;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #1a1a1a !important;
    font-family: 'Lobster';
    font-size: 17px;
    background-color: white;
    /* animation: rotate-in-diag-1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

@keyframes rotate-in-diag-1 {
    0% {
        -webkit-transform: rotate3d(1, 1, 0, -360deg);
        transform: rotate3d(1, 1, 0, -360deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
        transform: rotate3d(1, 1, 0, 0deg);
        opacity: 1;
    }
}

.praghraf-hotel-as {
    color: #d36d25;
    text-decoration: underline;
    font-size: 22px;
}

.adultchild {
    margin-left: 31px;
}

.form-check {
    top: 35px;
}

.praghraf-tour-as {
    color: #d36d25;
    font-size: 22px;
}

.backgroundsearch-km {
    background-color: #ffffff !important;
    color: black;
    font-family: 'Lobster';
    border-color: #ffffff !important;
}

.backgroundsearch-km:active {
    background-color: white !important;
    color: black !important;
    outline-color: #ddd;
}


/* .changplacesearch {
    margin-left: 713px;
    margin-top: -58px;
    width: 49%;
} */

.fontbuttonbooking {
    color: black!important;
    font-style: italic;
    font-family: 'Patua One', cursive;
    font-size: 22px;
}

.carousel-indicators {
    bottom: 81px;
}

.opisity-background {
    position: absolute;
    bottom: -39px;
    left: 0%;
    z-index: 0;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 108%;
}

.carousel-indicators li {
    width: 36px !important;
    height: 7px !important;
    width: 36px !important;
    height: 7px !important;
}


/* الصورة الاولي */

.photo1-text-as {
    position: relative;
    top: 132px;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 73px;
    font-style: oblique;
    padding-top: 189px;
    animation: slide-in-blurred-top 3.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@media (max-width:1039px) {
    .photo1-text-as {
        font-size: 62px;
    }
    .styleprag-as {
        font-size: 13px;
    }
    .button1-as {
        width: 14%;
        font-size: 12px !important;
    }
}

@media (max-width:572px) {
    .photo1-text-as {
        font-size: 40px;
    }
    .styleprag-as {
        font-size: 23px !important;
    }
    .button1-as {
        width: 21%;
        font-size: 12px !important;
    }
}

@media (max-width:430px) {
    .photo1-text-as {
        font-size: 35px;
    }
    .styleprag-as {
        font-size: 15px !important;
    }
    .button1-as {
        width: 22%;
        font-size: 12px !important;
    }
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.styleprag-as {
    margin-top: 156px;
    font-weight: 600;
    font-style: oblique;
    text-align: center;
    font-family: math;
    font-size: 27px;
    padding-right: 22%;
    padding-left: 20%;
    color: white;
    animation: slide-in-blurred-bottom 3.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.button1-as {
    font-family: 'Lobster';
    font-size: 14px;
    background-color: #ff7f50;
    animation: tracking-in-expand-fwd-bottom 2.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.button1-as:hover {
    background-color: #ff7f50 !important;
    color: white !important;
    border-bottom: 0px inset white !important;
}

.animatphotobackground {
    animation: kenburns-left 15s ease-out both;
}

@keyframes kenburns-left {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 16% 50%;
        transform-origin: 16% 50%;
    }
    100% {
        -webkit-transform: scale(1.25) translate(-20px, 15px);
        transform: scale(1.25) translate(-20px, 15px);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
}


/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: rgba(42, 44, 57, 0.9);
}

#header.header-transparent {
    background: transparent;
}

#header.header-scrolled {
    background: rgb(42 44 57);
    ;
}

#header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 98px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Desktop Navigation */

.changestylenavmenu {
    margin-top: 25px;
}


/* .nav-menu,
.nav-menu * {
    margin-left: -5px;
    list-style: none;
} */

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    padding: 5px 15px 7px 15px;
    margin-left: 22px;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 50px;
    font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    background: #ff7f50;
    text-decoration: none;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% - 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
    border-radius: 15px;
    margin-top: 5px;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #2a2c39;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
    color: #ef6603;
    background: none;
}

.nav-menu .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }
    .nav-menu .drop-down .drop-down>a:after {
        content: "\ea9d";
    }
}


/* Mobile Navigation */

.mobile-nav-toggle {
    position: fixed;
    right: -62px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    margin-right: 64px;
    color: #fff;
}

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    /* position: relative; */
    color: #2a2c39;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #ef6603;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\eaa1";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(20, 21, 28, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(0deg, #2a2c39 0%, #33364a 100%);
    padding: 0;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 70vh;
    padding-top: 60px;
}

#hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

#hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
    width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #ef6603;
}

#hero .btn-get-started:hover {
    background: #ef6603;
    color: #fff;
    text-decoration: none;
}

@media (min-width: 1024px) {
    #hero p {
        width: 60%;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 768px) {
    #hero .carousel-container {
        height: 90vh;
    }
    #hero h2 {
        font-size: 28px;
    }
}

.hero-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
}

.wave1 use {
    color: #ffa502;
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave2 use {
    background-color: #ffa502;
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave3 use {
    background-color: #ffa502;
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}


/* ______________________________________________- */


/* start style booking */

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

@media (min-width: 576px) {
    .d-sm-none {
        display: none !important;
    }
    .d-sm-inline {
        display: inline !important;
    }
    .d-sm-inline-block {
        display: inline-block !important;
    }
    .d-sm-block {
        display: block !important;
    }
    .d-sm-table {
        display: table !important;
    }
    .d-sm-table-row {
        display: table-row !important;
    }
    .d-sm-table-cell {
        display: table-cell !important;
    }
    .d-sm-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .d-sm-inline-flex {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media (min-width: 768px) {
    .d-md-none {
        display: none !important;
    }
    .d-md-inline {
        display: inline !important;
    }
    .d-md-inline-block {
        display: inline-block !important;
    }
    .d-md-block {
        display: block !important;
    }
    .d-md-table {
        display: table !important;
    }
    .d-md-table-row {
        display: table-row !important;
    }
    .d-md-table-cell {
        display: table-cell !important;
    }
    .d-md-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .d-md-inline-flex {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media (min-width: 992px) {
    .d-lg-none {
        display: none !important;
    }
    .d-lg-inline {
        display: inline !important;
    }
    .d-lg-inline-block {
        display: inline-block !important;
    }
    .d-lg-block {
        display: block !important;
    }
    .d-lg-table {
        display: table !important;
    }
    .d-lg-table-row {
        display: table-row !important;
    }
    .d-lg-table-cell {
        display: table-cell !important;
    }
    .d-lg-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .d-lg-inline-flex {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media (min-width: 1200px) {
    .d-xl-none {
        display: none !important;
    }
    .d-xl-inline {
        display: inline !important;
    }
    .d-xl-inline-block {
        display: inline-block !important;
    }
    .d-xl-block {
        display: block !important;
    }
    .d-xl-table {
        display: table !important;
    }
    .d-xl-table-row {
        display: table-row !important;
    }
    .d-xl-table-cell {
        display: table-cell !important;
    }
    .d-xl-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .d-xl-inline-flex {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

.ftco-section {
    padding: 7em 0;
    position: relative;
    width: 100%;
}

@media (max-width: 767.98px) {
    .ftco-section {
        padding: 6em 0;
    }
}

.ftco-no-pt {
    padding-top: 0 !important;
}

.ftco-no-pb {
    padding-bottom: 0 !important;
}

.ftco-bg-dark {
    background: #3c312e;
}

.ftco-intro {
    color: rgba(255, 255, 255, 0.8);
    z-index: 0;
    overflow: hidden;
}

.ftco-intro .img {
    padding: 3em;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

@media (max-width: 767.98px) {
    .ftco-intro .img {
        padding: 2em 1em;
    }
}

.ftco-intro .img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .6;
    background: #040e26;
    z-index: -1;
}

@media (max-width: 991.98px) {
    .ftco-intro {
        background-position: center center !important;
    }
}

.ftco-intro h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 767.98px) {
    .ftco-intro h2 {
        font-size: 20px;
    }
}

.ftco-search {
    position: relative;
    width: 100%;
    display: block;
    margin-top: -46px;
}

.ftco-search .nav-pills {
    display: inline-block;
}

.ftco-search .nav-pills p {
    margin-bottom: 0;
}

.ftco-search .nav-pills .nav-link {
    padding: 10px 30px !important;
    border-radius: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    background: #FF7F50;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.ftco-search .nav-pills .nav-link:hover {
    color: #fff;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    background: white;
    background: #FF7F50;
}

.ftco-search .nav-pills .nav-link:hover:after {
    opacity: 1;
}

@media (max-width: 767.98px) {
    .ftco-search .nav-pills .nav-link:hover:after {
        opacity: 0;
    }
}

.ftco-search .nav-pills .nav-link.active {
    color: gray;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    background: white;
    background: #fff;
}

.ftco-search .nav-pills .nav-link.active:after {
    opacity: 1;
}

@media (max-width: 767.98px) {
    .ftco-search .nav-pills .nav-link.active:after {
        opacity: 0;
    }
}

@media (max-width: 767.98px) {
    .ftco-search .nav-pills .nav-link {
        margin-bottom: 5px;
        padding: 7px 10px !important;
        font-size: 14px;
    }
}

.ftco-search .tab-content {
    background: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    margin-top: -7px;
    -webkit-box-shadow: 0px 10px 33px -27px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 33px -27px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 33px -27px rgba(0, 0, 0, 0.4);
}

.search-wrap-1 {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.11);
}

@media (min-width: 768px) {
    .search-wrap-1.search-wrap-notop {
        margin-top: 0;
    }
}

.search-property-1 .form-group {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
    .search-property-1 .form-group {
        margin-bottom: 0;
        border: none;
    }
}

.search-property-1 .form-group label {
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    color: #f15d30;
    text-transform: uppercase;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem #FF7F50 !important;
}

.search-property-1 .form-group .form-control {
    padding: 0;
    padding-left: 20px;
    display: block;
    width: 100%;
    height: inherit !important;
    font-size: 16px;
    border: none !important;
    color: rgba(0, 0, 0, 0.4) !important;
    background: transparent !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.search-property-1 .form-group .form-control::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4) !important;
}

.search-property-1 .form-group .form-control::-moz-placeholder {
    color: rgba(0, 0, 0, 0.4) !important;
}

.search-property-1 .form-group .form-control:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4) !important;
}

.search-property-1 .form-group .form-control:-moz-placeholder {
    color: rgba(0, 0, 0, 0.4) !important;
}

.search-property-1 .form-group .form-control.btn {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background: #FF7F50 !important;
    border: none !important;
    color: #fff !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

@media (max-width: 767.98px) {
    .search-property-1 .form-group .form-control.btn {
        padding: 20px;
    }
}

.search-property-1 .form-group .select-wrap {
    position: relative;
}

.search-property-1 .form-group .select-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-property-1 .form-group .icon {
    position: absolute;
    top: 51%;
    left: 0;
    font-size: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.1);
}

@media (max-width:1198px) {
    .search-property-1 .form-group {
        width: 200%;
    }
}

@media (max-width:990px) {
    .search-property-1 .form-group {
        padding: 20px;
    }
}

.justify-content-start {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.justify-content-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.fade {
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
    .fade {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.fade:not(.show) {
    opacity: 0;
}

.collapse:not(.show) {
    display: none;
}

.table-active,
.table-active>th,
.table-active>td {
    background-color: rgba(0, 0, 0, 0.075);
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.search-property-1 .form-group .form-field {
    position: relative;
    display: block;
}

.search-form .form-group {
    position: relative;
}

.search-form .form-group input {
    padding-right: 50px;
    font-size: 14px;
    border: none;
}

.search-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sidebar-wrap {
    margin-bottom: 60px;
}

.sidebar-wrap .heading {
    font-size: 18px;
    text-transform: uppercase;
}

.sidebar-wrap .fields {
    width: 100%;
    position: relative;
}

.sidebar-wrap .fields .form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: transparent;
    background: #fff !important;
    color: #4d4d4d !important;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    width: 100%;
    height: 52px !important;
    padding: 10px 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.sidebar-wrap .fields .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4d4d4d;
}

.sidebar-wrap .fields .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #4d4d4d;
}

.sidebar-wrap .fields .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #4d4d4d;
}

.sidebar-wrap .fields .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #4d4d4d;
}

.sidebar-wrap .fields .icon {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 14px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 767.98px) {
    .sidebar-wrap .fields .icon {
        right: 10px;
    }
}

.sidebar-wrap .fields .select-wrap {
    position: relative;
}

.sidebar-wrap .fields .select-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sidebar-wrap .form-group .btn {
    width: 100%;
    display: block !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.btn-primary:focus .btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:focus,
.btn:focus {
    box-shadow: 0 0 0 0.2rem #ff7f5000 !important;
}


/* start style card insid */

.form-wrap {
    background-color: #fff;
    /* width: 320px; */
    margin: -1em auto;
    /* box-shadow: 0px 1px 8px #BEBEBE; */
    /* -webkit-box-shadow: 0px 1px 8px #BEBEBE; */
    /* -moz-box-shadow: 0px 1px 8px #BEBEBE; */
}

.form-wrap .tabs {
    overflow: hidden;
}

.form-wrap .tabs h3 {
    float: left;
    width: 50%;
}

.form-wrap .tabs h3 a {
    padding: 0.5em 0;
    text-align: center;
    font-weight: 400;
    background-color: #ff7f506e;
    display: block;
    color: #666;
    font-size: 22px;
}

.form-wrap .tabs h3 a.active {
    background-color: #ff7f50;
}

.form-wrap .tabs-content {
    padding: 1.5em;
    margin-top: -23px;
}

.form-wrap .tabs-content div[id$="tab-content"] {
    display: none;
}

.form-wrap .tabs-content .active {
    display: block !important;
}

.form-wrap form .input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    padding: .8em 0 10px .8em;
    border: 1px solid #CFCFCF;
    outline: 0;
    display: inline-block;
    margin: 0 0 .8em 0;
    padding-right: 2em;
    width: 100%;
}

.form-wrap form .button {
    width: 100%;
    padding: .8em 0 10px .8em;
    background-color: #fd6e22;
    border: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.form-wrap form .button:hover {
    background-color: #df691e;
}

.form-wrap form .checkbox {
    visibility: hidden;
    padding: 20px;
    margin: .5em 0 1.5em;
}

.form-wrap form .checkbox:checked+label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.form-wrap form label[for] {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

.form-wrap form label[for]:before {
    content: '';
    position: absolute;
    border: 1px solid #CFCFCF;
    width: 17px;
    height: 17px;
    top: 0px;
    left: -14px;
}

.form-wrap form label[for]:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background-color: transparent;
    top: 4px;
    left: -10px;
    border: 3px solid #28A55F;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form-wrap .help-text {
    margin-top: .6em;
}

.form-wrap .help-text p {
    text-align: center;
    font-size: 14px;
}

.btn-primary-as {
    color: #fff;
    background-color: #ffffff00 !important;
    border-color: #ffa700 !important;
    margin-left: 19px;
}

@media(max-width:989px) {
    .btn-primary-as {
        font-size: 12px;
        margin-right: -45px;
        margin-top: -10px;
    }
}

@media(max-width:856px) {
    .btn-primary-as {
        font-size: 12px;
        margin-right: -6px;
        margin-top: -10px;
    }
}

@media(max-width:790px) {
    .btn-primary-as {
        font-size: 12px;
        margin-right: -6px;
        margin-top: -10px;
    }
}

@media(max-width:580px) {
    .btn-primary-as {
        font-size: 11px;
        margin-right: 40px;
        margin-top: -10px;
    }
}

.modal-backdrop {
    z-index: 1 !important;
}

@media (min-width:320px) and (max-width:722px) {
    .modal-content {
        width: 89% !important;
        margin: auto
    }
}


/* End style card insid */


/*================================================
        header  part End
=================================================*/


/* start pade concet us */

.imgconcetus {
    background-image: url(Ahmed AlSoudi/ahmed/bg_1.jpg);
    height: 830px;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    position: relative;
}

@media (max-width: 1034px) {
    .imgconcetus {
        width: 150% !important;
    }
}

@media (max-width: 708px) {
    .imgconcetus {
        width: 182% !important;
    }
}

.opactyconcetus {
    background-color: #464b6a70;
    height: 830px;
}

.concetpragraf {
    color: white;
    font-family: 'Coda Caption', sans-serif;
    position: absolute;
    top: 75%;
    left: 33%;
    font-size: 86px;
}

@media (max-width: 1034px) {
    .concetpragraf {
        font-size: 48px;
    }
}

@media (max-width: 1224px) {
    .concetpragraf {
        font-size: 48px;
    }
}

.iconconnect {
    color: #ef6603;
    font-size: 36px;
    margin: auto;
    margin-top: 30px;
}

.contact-section .box .icon {
    width: 64px;
    height: 64px;
    background: #f15d30;
    margin: 0 auto;
    margin-bottom: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.contact-section .box .icon span {
    color: #fff;
    font-size: 30px;
}

.contact-section .box {
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    position: relative;
    /* left: 150px; */
    top: 5%;
}

.contact-section .box h3 {
    font-family: cursive;
    font-size: 20px;
    color: tomato;
    font-weight: 600;
}

.contact-section .box p {
    font-family: math;
    padding-top: 19px;
}


/* end page concet us */


/* ______________________________________________- */


/* start card offer page conectus_____ */

.placeoffer {
    margin-left: -35px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    display: inline-block;
    position: relative;
    bottom: 100px;
    padding-left: 20px;
}

.marginleft {
    margin-left: 15px;
}

.flip-card-inner {
    left: 165px;
    top: 200px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    /* padding-top: 47px;
background-color: #2987b991;
color: white; */
    transform: rotateY(180deg);
}

.opactycardoffer {
    background: rgba(0, 0, 0, 0.3);
    height: 300px;
    width: 300px;
    position: relative;
    bottom: 300px;
}

.textcolorcardoffer {
    color: white;
}

.sale-as {
    color: #ff6b50;
    font-size: 47px;
    text-decoration-line: underline;
}

.oldsallry {
    font-size: 20px;
    color: white;
    text-decoration-line: line-through;
    font-family: 'Roboto Slab', serif;
}

.newsallry {
    color: #fefefe;
    font-size: 30px;
    margin-top: -18px;
}

.buttonconectuscard {
    color: white;
    border-color: #ff6b50;
    background-color: #ff6b50;
}

.buttonconectuscard:hover {
    color: white;
    border-color: #ff6b50;
    background-color: #ff6b50;
}

.buttonconectuscard:active {
    color: white !important;
    border-color: #ff6b50 !important;
    background-color: #ff6b50 !important;
}

.italy {
    font-family: 'Sansita Swashed', cursive;
    font-size: 31px;
    padding-top: 16px;
}


/* ____end card offer page conectus_____ */


/* ____ startmapandconect_____ */

.mapandconect {
    margin-top: 179px;
    margin-left: 65px;
}

.googlemaps {
    margin: auto;
}

.bg-light-as {
    /* background-color: rgb(202, 202, 202); */
}


/* ____ endmapandconect_____ */


/* ___ start lastimg___ */

.lastimg {
    background-image: url(../img/8.jpg);
    height: 230px;
    background-size: cover;
    background-position: 100% 38%;
    position: relative;
    top: 30px;
    left: 15%;
    width: 70%;
}

.opactyconcetus1 {
    background-color: #555d8fa1;
    height: 230px;
}

@media (max-width: 1496px) {
    .textlastimg {
        font-size: 22px !important;
        text-align: center;
        margin-left: -196px;
    }
    .textlastimg2 {
        font-size: 17px !important;
        text-align: center;
        margin-right: 165px;
    }
    .buttonconectuscard1 {
        font-size: 12px !important;
        margin-left: 29% !important;
    }
}

@media (max-width: 1042px) {
    .textlastimg {
        margin-right: 28px;
        font-size: 18px !important;
    }
    .textlastimg2 {
        font-size: 12px !important;
        font-weight: 600;
        width: 100%;
        margin-left: -28% !important;
    }
    .buttonconectuscard1 {
        margin-left: 20% !important;
        font-size: 8px !important;
    }
}

.concetpragraf1 {
    color: white;
    position: absolute;
    top: 50px;
    left: 213px;
    font-family: cursive;
    font-size: 18px;
}

.textlastimg {
    /* margin-left: 58px; */
    font-family: 'Coda Caption', sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
}

.buttonconectuscard1 {
    color: white;
    border-color: #ff6b50;
    background-color: #ff6b50;
    margin-left: 321px;
}

.buttonconectuscard1:hover {
    color: white;
    border-color: #ff6b50;
    background-color: #ff6b50;
}

.buttonconectuscard1:active {
    color: white !important;
    border-color: #ff6b50 !important;
    background-color: #ff6b50 !important;
}

.lodonegypt {
    display: inline-block;
}


/* end lastimg */


/* ___ strat continer conectus ___ */

.form-control {
    position: relative;
    top: -38px;
    border: 1px solid #eda000;
}

.form-group {
    margin-left: -71px;
}

.form-control:focus {
    border-color: white !important;
    outline: 0;
    box-shadow: white !important;
}

.London {
    font-family: 'Coda Caption';
    font-weight: 700;
    font-size: 17px;
}

.subneedhealp {
    color: gray;
    margin-bottom: 14px;
}

.locationLondon {
    font-weight: 700;
}

.needhealp {
    margin-top: 77px;
}

.phoneconect {
    font-weight: 600;
}

.fullconectus {
    position: relative;
    top: 65px;
}

.freeconect {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    font-size: 42px;
    position: relative;
    bottom: 41px;
}

.boxconect {
    font-weight: 600;
}

@media(max-width:1033px) {
    .boxconect {
        margin-left: 300px;
        font-size: smaller;
    }
    .mapandconect {
        margin-left: 300px;
    }
    .lastimg {
        margin-left: 300px;
    }
}

@media(max-width:991px) {
    .fullconectus {
        margin-left: 40% !important;
    }
    .boxconect {
        margin-left: 33%;
    }
    .mapandconect {
        margin-left: 27%;
    }
    .lastimg {
        margin-left: 27%;
    }
}

@media(max-width:708px) {
    .fullconectus {
        margin-left: 58% !important;
    }
    .boxconect {
        margin-left: 50%;
    }
    .mapandconect {
        margin-left: 42%;
    }
}

@media(max-width:767px) {
    .needhealp {
        margin-bottom: 66px;
        margin-top: 9px;
    }
}

@media(max-width:672px) {
    .needhealp {
        margin-left: -13%;
    }
    .textlastimg {
        font-size: 15px !important;
    }
    .textlastimg2 {
        width: 98%;
    }
    .lastimg {
        width: 112%;
    }
    .mapandconect {
        width: 113%;
    }
}

@media (max-width:992px) {
    .freeconect {
        font-size: 20px;
    }
    .subneedhealp {
        font-size: 13px;
    }
}

@media(max-width:704) {
    .subneedhealp {
        font-size: 10px;
    }
}

@media (max-width: 1034px) {
    .fullconectus {
        margin-left: 30%;
    }
}

.colorhead {
    color: #FF6833;
}

.iconconectus {
    color: #111111;
    font-size: 21px;
    margin-left: 45px;
    margin-top: 26px;
}

.iconconectus:hover {
    color: #FF6833;
}

.buttonconectus {
    background-color: #FF6833 !important;
    border-color: #FF6833 !important;
}


/* ___ end  continer conectus ___ */


/* ___ start hoonny moon ___ */

.carousel-nav-icon {
    height: 48px;
    width: 48px;
}

.carousel-item .col,
.col-sm,
.col-md {
    margin: 8px;
    height: 321px;
    background-size: cover;
    background-position: bottom center;
}

.hoonymoon {
    /* position: relative;
    top: 150px; */
}

.cartoon1 img {
    /* background-image: url(../img/married.jpg); */
    height: 150px;
    width: 152px;
    /* left: 53%;
    top: 259px;
    position: absolute; */
    /* z-index: -1; */
    border-radius: 50%;
}

.cartoon2 img {
    height: 150px;
    width: 152px;
    /* left: 44%;
    top: 259px;
    position: absolute; */
    /* z-index: -1; */
    border-radius: 50%;
}

.cartoon3 img {
    height: 150px;
    width: 152px;
    /* left: 35%;
    top: 259px;
    position: absolute; */
    /* z-index: -1; */
    border-radius: 50%;
}

.cartoon4 img {
    height: 150px;
    width: 152px;
    /* left: 62%;
    top: 259px;
    position: absolute; */
    /* z-index: -1; */
    border-radius: 50%;
}


/* start animation heart honny moon*/

.heart {
    margin: 0 auto;
    background: url("https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png");
    width: 76px;
    height: 30px;
    background-size: 2900%;
    background-repeat: no-repeat;
    /* position: absolute;
    left: 708px;
    top: 141px; */
}

.heart:hover {
    background-position: right;
}

.heart:hover.tooltip:after,
.heart:hover.tooltip:before {
    opacity: 1;
}

.animated-heart {
    animation-name: moveHeart;
    animation-duration: 1.8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes moveHeart {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: right;
    }
}

.container {
    padding: 42px;
    text-align: center;
}

.infinite-heart {
    animation-iteration-count: infinite;
}

.texthoonymoon {
    font-family: 'Lobster', cursive;
    /* position: absolute;
    top: 103px;
    left: 36%; */
    font-size: 46px;
}

.totalcircle {
    /* position: relative;
    top: -117px;
    left: -66px; */
    width: 480px;
    margin: auto;
}

.opacityhonemoon {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.603);
}

.texthoonymoon1 {
    /* position: absolute;
    top: 357px;
    left: 323px; */
    text-align: center;
    margin: auto;
    font-family: unset;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    animation: animated-text 5s steps(120);
    font-family: 'Dancing Script', cursive;
    font-size: 23px;
}

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


/* end animation heart hany moon */


/* ___ end hoonny moon ___ */


/* start another card hony moon */

.card-title {
    margin-bottom: 1.75rem;
    color: tomato;
    font-family: system-ui;
    font-style: italic;
    font-weight: 700;
    white-space: pre-wrap;
    margin-top: -8px;
}


}
.fox li {
    display: inline-block;
    float: left;
}
ul {
    list-style-type: none;
}
.checked {
    color: orange;
}
.star {
    position: relative;
    left: -96px;
    top: 6px;
}
.fox1 {
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 163px;
    bottom: 71px;
}
.fox2 {
    font-size: 23px;
    font-weight: 700;
    position: absolute;
    left: 60px;
    bottom: 18px;
    font-family: 'Lobster';
    color: #001789
}
.card-hotle {
    color: #001789;
    font-family: 'Fira Sans', sans-serif;
    margin-top: -12px;
}
.buttonhonemoon {
    color: white;
    border-color: #ff6b50;
    background-color: #ff6b50;
    position: relative;
    right: -88px;
    top: 7px;
}
.buttonhonemoon:hover {
    color: white;
    border-color: #ff6b50;
    background-color: #ff6b50;
}
.buttonhonemoon:active {
    color: white !important;
    border-color: #ff6b50 !important;
    background-color: #ff6b50 !important;
}
.card-img-top:hover {
    transform: scale(1.1);
}
.card {
    overflow: hidden;
    /* top: 300px; */
}

/* end another card hony moon */

/*  */
@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }
    
    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
@media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

/*card slider next and prev  */
.carousel-control-prev-icon {
    background-image: url(https://cdn0.iconfinder.com/data/icons/leading-international-corporate-website-app-collec/16/Slider_arrow_left-512.png);
}
.carousel-control-next-icon {
    background-image: url(https://cdn0.iconfinder.com/data/icons/leading-international-corporate-website-app-collec/16/Slider_arrow_right-512.png);
}

/* start button massge fixed */
.container button {
    width: 13rem;
    height: 3rem;
    border-radius: 20px;
    margin-top: -16px;
    border: none;
}
.sidebar {
    height: 66%;
    width: 0;
    position: fixed;
    z-index: 8;
    top: 7rem;
    right: 0;
    background-color: #1D2239;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    font-weight: bold;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #4da54e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    position: fixed;
    top: 73%;
    right: 10px;
    z-index: 8;
}
.openbtn:hover {
    background-color: #4da54e;
}
#main {
    transition: margin-right .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    
    .sidebar a {
        font-size: 18px;
    }
}
.form {
    margin-top: 20px
}
.input_w_outline input {
    border: none;
    outline: none;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.input-field .materialize-textarea {
    border-bottom: white solid 1px;
    box-shadow: 0 1px 0 0 white;
    color: white;
}
.input-field .materialize-textarea:focus {
    border-bottom: white solid 1px;
    box-shadow: 0 1px 0 0 white;
}
.form .btn {
    width: 200px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: teal;
}
.textfixed {
    margin-left: 27px;
    border-radius: 5px;
}
.headsectionconectfixed {
    color: white;
    text-align: center;
    font-family: emoji;
    font-weight: 700;
    font-size: 26px;
}

/* ++++++ start single search ++++++ */
.imgconcetus2 {
    background-image: url(../img/bg_1.jpg);
    height: 630px;
    background-size: cover;
    background-position: center bottom;
    position: relative;
    z-index: -1;
}
@media (max-width: 1034px) {
    .imgconcetus2 {
        width: 100% !important;
    }
    
    .style-button-slider {
        width: 100% !important;
    }
}
@media (max-width: 708px) {
    .imgconcetus2 {
        width: 182% !important;
    }
}
.opactyconcetus2 {
    background-color: #464b6a70;
    height: 630px;
}
.style-button-slider {
    margin-top: -50px;
    font-size: 22px;
    background-color: #F4F4F4;
}
.nav-tabs .nav-item {
    position: relative;
    left: 14%;
    padding-left: 40px;
}
.style-color-buttons-slider {
    color: #8b8b8b;
    padding: 1.5rem 2rem !important;
}
@media (max-width:1368px) {
    .style-button-slider {
        /* background-color: #001789; */
        font-size: 17px;
        width: 118% !important;
    }
    
    .imgconcetus2 {
        width: 118% !important;
    }
    
    .style-color-buttons-slider {
        padding: 0rem 1rem;
    }
}
@media (max-width:982px) {
    .style-button-slider {
        font-size: 14px;
        width: 153% !important;
    }
    
    .imgconcetus2 {
        width: 153% !important;
    }
    
    .style-color-buttons-slider {
        padding: 1rem 1.5rem !important;
    }
}

/* ++++++ end single search ++++++ */

/* START STYLE PADGE FAQ */
.faqpragraf {
    color: white;
    font-family: 'Coda Caption', sans-serif;
    position: absolute;
    top: 75%;
    left: 33%;
    font-size: 49px;
}
@media (max-width: 1034px) {
    .faqpragraf {
        font-size: 40px;
    }
}
@media (max-width: 1224px) {
    .faqpragraf {
        font-size: 38px;
    }
}
@media (max-width: 472px) {
    .faqpragraf {
        font-size: 28px;
    }
}
.wrapper {
    width: 70%;
}
@media(max-width:992px) {
    .wrapper {
        width: 100%;
    }
}
.accordion {
    width: 71%;
    margin: auto;
}
.accordion-button:not(.collapsed) {
    border-color: #FF7F50 !important;
    background-color: #ff7f5042 !important;
    color: black;
    font-weight: 700;
}
.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
    border-color: #FF7F50;
}

/* END STYLE PADGE FAQ */

/* start style hoony moon */
.packages {
    padding: 120px 0 90px;
}
.packages-content {
    margin-top: 65px;
}
.single-package-item {
    margin-bottom: 30px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.single-package-item-txt {
    padding: 0 25px;
}
.single-package-item img {
    width: 100%;
}
.single-package-item h3 {
    position: relative;
    font-size: 20px;
    color: #565a5c;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;
}
.single-package-item h3:after {
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ebebeb;
}
.packages-para {
    padding: 17px 0 0;
    text-transform: capitalize;
}
.packages-para p {
    font-size: 14px;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    margin-left: -19px;
}
.packages-para .p2 {
    font-size: 14px;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    margin-left: -62px;
}
.packages-para p span {
    display: inline-block;
    width: 150px;
}
.packages-review p i {
    color: #ffdf00;
    font-size: 16px;
    padding-bottom: 18px;
}
.packages-review span {
    margin-left: 54px;
    font-size: 14px;
    color: #aaa;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.about-view.packages-btn {
    width: 110px;
    height: 35px;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.about-view.packages-btn:hover {
    box-shadow: 0 5px 20px rgba(14, 15, 18, .3);
}
.single-package-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.about-view {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00d8ff;
    border: 1px solid #00d8ff;
    width: 200px;
    height: 60px;
    white-space: nowrap;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(14, 15, 18, .2);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.about-btn:hover .about-view {
    color: #fff;
    background: #00d8d5;
    box-shadow: 0 5px 20px rgba(14, 15, 18, .7);
    border: 1px solid #00d8d5;
}
.pull-right {
    padding-left: 146px;
}
@media (max-width: 1200px) {
    .responsive {
        flex: 34%;
        margin: auto;
        max-width: 40.333333% !important;
    }
}
@media (max-width: 991px) {
    .responsive {
        flex: 52%;
        margin: auto;
        max-width: 54.333333% !important;
    }
}
@media (max-width: 767px) {
    .responsive {
        flex: 58%;
        margin: auto;
        max-width: 73.333333% !important;
    }
}
@media (max-width: 542px) {
    .responsive {
        flex: 58%;
        margin: auto;
        max-width: 75.333333% !important;
    }
}
@media (max-width:524px) {
    .responsive {
        flex: 58%;
        margin: auto;
        max-width: 93.333333% !important;
    }
}
@media (max-width:446px) {
    .responsive {
        flex: 58%;
        margin: auto;
        max-width: 98.333333% !important;
    }
}

/* End style hoony moon */