*{
    margin: 0;
    padding: 0;
    outline: 0;
}

a{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none !important;
}

img{
    vertical-align: middle;
}

ul,
ol{
    list-style: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li{
    margin: 0;
}

html,
body{
    font-family: 'Montserrat', sans-serif !important;
    scroll-behavior: smooth;
}
button:focus{
    outline: none;
}
input:focus {
    outline: none !important;
    box-shadow: 0 0 10px transparent !important;
}
p{
    color: #444;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 26px !important;
}

.heading h4{
    text-align: center;
    color: #fff;
    background: #ffa913;
        width: 70%;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 25px !important;
}
.sub-header h3{
    padding: 20px 0;
    color: #222;
    font-size: 34px !important;
    font-weight: 300 !important;
    line-height: 40px !important;
}
.section{
    padding-top: 80px;
}
/*================================================
               COMMON CSS PART END
=================================================*/

/*================================================
        Safari part start
=================================================*/
.safari {
    margin: 20px 0 !important;
}
.safari h2  {
    color: #2C7EFF;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin: 20px 0 !important;
   
}
.safari h2 span {
    color: #FFA913 ;
    font-size: 40px ;
}
.safari .background {
    background-image: url(../images/safari-background.jpg);
    background-attachment: fixed;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;

}
.safari .link {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
   background-color:transparent;
}
.safari .link a  {
    font-size: 40px;
    color: #FFA913 ;
}

.safari .side-img {
    background: transparent;
    margin-top: -50px;
    z-index: 111;
    border: 20px solid #fff;

    overflow: hidden;
}
.safari .side-img img {
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
       margin: 0;
       -webkit-transform: scale(1.1);
       transform: scale(1.1);
       cursor: pointer;

}
.safari .side-img img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

}
.safari .side-text h3 {
    margin:  20px 0 !important;
}  

.safari .side-text button {
    border: none;
    padding: 10px;
    margin: 10px;
    background-color: #2C7EFF;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.safari .side-text button:hover {
    color: #2C7EFF;
    background-color: transparent;
    border: 1px solid #2C7EFF;
      
}
.ytp-cued-thumbnail-overlay-image {
    background-image: url(../images/safari-background.jpg) !important;
    width: 50% !important;
    height: 50% !important;
    position: absolute !important;
    top: 25% !important;
    left: 25% !important;
}
/*================================================
        Safari part end
=================================================*/

/* ====================================
        Places part Start
=====================================*/
.places h4 {
    text-transform: uppercase;
}

.places .nav-pills{
    padding: 10px 0px;
    background: #fff;
    -webkit-box-shadow: 0 0px 44px rgba(0, 0, 0, 0.11);
    box-shadow: 0 0px 44px rgba(0, 0, 0, 0.11);
}
.places .nav-menu{
    color: #999;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 400;
    padding: 0px 15px;
    border-left: 1px solid #999;
}
.places li:first-child .nav-menu{
    border-left: none;
}
.places .nav-menu:hover{
    color: #2c6bff;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
   
}

.places .nav-item {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.places .nav-item:hover {
    -webkit-transform:scale(1.2) ;
    transform: scale(1.1);
    
}
.places .mx-0{
      margin-top: 50px;
      margin-bottom: 20px;
}
.places .nav-pills{
    text-align: center;
    display: inline-flex;
}
.places .place-col {
    margin-bottom: 20px;

}
.places .work-image{
    position: relative;
    overflow: hidden;
}
.places .work-image img {
    height: 400px;
    width: 100%;
    transition: all 2s ease-in-out;
    cursor: pointer;
}
.work-image img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);

}
.places .overlay {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    background:   rgba(0,0,0,0.3) ;
    overflow: hidden;
    width: 100%;
    height: 20%;
    bottom: 0%;
    transition: all .6s ease;
    cursor: pointer;
    
}
 
,.places .overlay_shape  {

    margin-top: 10px;
    background-color: transparent;
    line-height: 35px;
    text-align: center;


} 
.places .overlay_shape span {
    color: #FFf;
}

.places .overlay_shape ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.places .overlay_shape ul li {
    display: inline-block;
    color: #fff;
    padding: 5px;

}
.places .overlay_shape button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 3px 6px;
    display: block;
    margin-left: 40%;
    margin-right: 0;
    transition: all 0.3s ease-in-out;

   
}
.places .overlay_shape  button:hover{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}



 .places .overlay:hover  {
    bottom: 0;
    height: 40%;
}
.places .col-md-12.place-col .overlay {
    height: 26%;
} 
.places .col-md-12.place-col .overlay:hover {
    height: 26%;
} 
.places .col-md-5.place-col .overlay {
    height: 15%;
}
.places .col-md-5.place-col .overlay:hover {
    height: 15%;
}
.places .col-md-5.place-col img {
    height: 820px;
}

/*  */
@media (max-width: 981px) {
   
    .places  li:nth-child(6) .nav-menu {
        border-left: none;
    }
   
    .places .col-md-5.place-col .overlay {
        height: 15%;
    }
   .places .overlay_shape button  {
        margin-left: 35%;
    }
    .places .col-md-6 button {
        margin-left: 25%;
    }
}
@media (max-width: 767px) {
    .places  li:nth-child(6) .nav-menu {
        border-left: 1px solid #999;
    }
    .places  li:nth-child(5) .nav-menu {
        border-left: none;
    }
   .places .overlay_shape {
        margin-top: 0;
    }
   .places .overlay {
        height: 30%;
    }
   
   .places .overlay:hover {
        height: 30%;
    }
    .places .col-md-5.place-col .overlay {
        height: 15%;
    }
    .places .col-md-5.place-col .overlay:hover {
        height: 15%;
    }
    .places .overlay_shape button  {
        margin-left: 40%;
    }
    #pills-all1 > div > div.col-md-7.place-col > div > div:nth-child(1) > div {
        margin-bottom: 30px;
    }
}
@media (max-width: 576px) {
    .places  li:nth-child(4) .nav-menu {
        border-left: 1px solid #999 !important;

    }
   
  .places  .overlay_shape {
        margin-top: 0px;
    }
 .places   .overlay {
        height: 33%;
    }
   
  .places  .overlay:hover {
        height: 33%;
    }
    .places .col-md-5.place-col .overlay {
        height: 20%;
    }
    .overlay_shape button {
        margin-left: 37%;
    }
}

/* ====================================
        Places part End
=====================================*/
/* ====================================
        testimonial part start
=====================================*/

.testimonial {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    text-align: center;
}

.testimonial .slider-for {
    margin-top: 10px;
    margin-bottom: 10px;

}

.testimonial .slider-for img {

   height: 400px;
   width: inherit;
}
.testimonial .slider-for .img-overlay {
    position:absolute;
    bottom:0;
    left: 0;
    padding: 10px;
    background:   rgba(0,0,0,0.3) ;
}
.testimonial .slider-for .img-overlay p {
    color: #fff;
    font-size: larger !important;
    padding: 20px;
}

.testimonial .slider-for .img-overlay .ratting i {
    color: #FFB656;
  }
  .testimonial .slider-for .img-overlay i:last-child {
    color: #E0E1DE;
  }
.testimonial .slider-for .img-overlay span {
    color: #fff;
    font-size: larger !important;
    padding: 20px;
    font-weight: bolder;
}
.testimonial .slider h2 {
    text-transform: capitalize;
    font-weight: bold;
    background-color:  #fff;
    padding: 20px 0 !important;
    color:  #2C7EFF;

} 
.testimonial .slider p {
 padding: 20px 0;
  line-height: 3;
}


 .testimonial .slider-nav > div  {
    width: auto;
    margin: 0;

}
.testimonial .slider-nav {
    margin: 0;
    padding: 0;
}
.testimonial .slider-nav > div img {
    height: 60px;
    width: inherit;
    margin: 0;


}
.slick-next , 
.slick-prev , 
.slick-prev:hover ,
.slick-next:hover ,
.slick-prev:focus ,
.slick-next:focus {
    z-index: 111;
    top: 40%;
    
}
