*{
    margin: 0;
    padding: 0;
    outline: 0;
}

a{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none !important;
}

img{
    vertical-align: middle;
}

ul,
ol{
    list-style: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li{
    margin: 0;
}

html,
body{
    font-family: 'Montserrat', sans-serif !important;
    scroll-behavior: smooth;
}
button:focus{
    outline: none;
}
input:focus {
    outline: none !important;
    box-shadow: 0 0 10px transparent !important;
}
p{
    color: #444;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 26px !important;
}

.heading h4{
    text-align: center;
    color: #fff;
    background: #ffa913;
        width: 70%;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 25px !important;
}
.sub-header h3{
    padding: 20px 0;
    color: #222;
    font-size: 34px !important;
    font-weight: 300 !important;
    line-height: 40px !important;
}
.section{
    padding-top: 80px;
}
/*================================================
               COMMON CSS PART END
=================================================*/

/*================================================
        Safari part start
=================================================*/
.safari {
    margin: 20px 0 !important;
}
.safari h2  {
    color: #2C7EFF;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin: 20px 0 !important;
   
}
.safari h2 span {
    color: #FFA913 ;
    font-size: 40px ;
}
.safari .background {
    background-image: url(../images/safari-background.jpg);
    background-attachment: fixed;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;

}
.safari .link {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
   background-color:transparent;
}
.safari .link a  {
    font-size: 40px;
    color: #FFA913 ;
}

.safari .side-img {
    background: transparent;
    margin-top: -50px;
    z-index: 111;
    border: 20px solid #fff;

    overflow: hidden;
}
.safari .side-img img {
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
       margin: 0;
       -webkit-transform: scale(1.1);
       transform: scale(1.1);

}
.safari .side-img img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

}
.safari .side-text h3 {
    margin:  20px 0 !important;
}  

.safari .side-text button {
    border: none;
    padding: 10px;
    margin: 10px;
    background-color: #2C7EFF;
    color: #fff;
    cursor: pointer;
}
.safari .side-text button:hover {
    color: #2C7EFF;
    background-color: transparent;
    border: 1px solid #2C7EFF;
      
}
/*================================================
        Safari part end
=================================================*/

/* ====================================
        Places part Start
=====================================*/
.places h4 {
    text-transform: uppercase;
}
.places .button-group{
    padding-top: 20px;
}
.places .nav-pills{
    padding: 10px 0px;
    background: #fff;
    -webkit-box-shadow: 0 0px 44px rgba(0, 0, 0, 0.11);
    box-shadow: 0 0px 44px rgba(0, 0, 0, 0.11);
}
.places .nav-menu{
    color: #999;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 400;
    padding: 0px 15px;
    border-left: 1px solid #999;
}
.places li:first-child .nav-menu{
    border-left: none;
}
.places .nav-menu:hover{
    color: #2c6bff;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.places .mx-0{
      margin-top: 50px;
}
.places .nav-pills{
    text-align: center;
    display: inline-flex;
}
.work-image{
    position: relative;
    overflow: hidden;
}
.work-image img {
    height: 400px;
    width: 100%;
    transition: all 2s ease-in-out;
    cursor: pointer;
}
.work-image img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);

}
.overlay {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    background: rgba(35, 111, 151, 0.8);
    overflow: hidden;
    width: 100%;
    height: 20%;
    bottom: 0%;
    transition: all .6s ease;
    cursor: pointer;
    
}
 
 .overlay_shape  {
     position: absolute;
     top:50%;
     left: 50%;
     background-color: transparent;
    transform: translate(-50%, -50%);
    font-size: 14px;
    text-align: center;
    line-height: 2;
    line-height: 35px;
    font-weight: 300;
    padding: 2px 14px;
    border-radius: 35px;
    text-transform: capitalize;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    color: #236f97;
} 
.overlay_shape span {
    color: #FFf;
}

.overlay_shape ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.overlay_shape ul li {
    display: inline-block;
    color: #fff;
    padding: 5px;

}
.overlay_shape button {
    background-color: #fff;
    color: teal;
    border: none;
    padding: 3px 6px;
   
}
.overlay_shape  button:hover{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}



 .overlay:hover {
    bottom: 0;
    height: 100%;
}
.place-col{
    padding: 0 1px;
}
.heading h4 {
    width: 99%;
}
.places .travel-btn{
    margin-top: 70px;
}
.places .travel-btn:after {
    position: absolute;
    content: '';
    height: 50px;
    width: 210px;
    border-radius: 5px;
    top: -10px;
    z-index: -1;
    transform: translateX(-47%);
    left: 50%;
}

/* ====================================
        Places part End
=====================================*/
/* ====================================
        testimonial part start
=====================================*/

.testimonial {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    text-align: center;
}

.testimonial .slider-for {
    margin-top: 10px;
    margin-bottom: 10px;

}
/* .testimonial .slider-for > div {
    position: relative;
    width: 700px;
    height: 400;

} */
.testimonial .slider-for img {

   height: 400px;
   width: inherit;
}
.testimonial .slider-for .img-overlay {
    position:absolute;
    top:0;
    left: 0;
    background-color: rgba(14, 6, 6, 0.3);
}
.testimonial .slider-for .img-overlay p {
    color: #fff;
    font-size: larger !important;
    padding: 20px;
}

.testimonial .slider-for .img-overlay .ratting i {
    color: #FFB656;
  }
  .testimonial .slider-for .img-overlay i:last-child {
    color: #E0E1DE;
  }
.testimonial .slider-for .img-overlay span {
    color: #fff;
    font-size: larger !important;
    padding: 20px;
    font-weight: bolder;
}
.testimonial .slider h2 {
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
    background-color:  #fff;
    padding-bottom: 20px !important;
    color:  #2C7EFF;

} 
.testimonial .slider p {
 padding-bottom: 40px;
   line-height: 3;
}


.testimonial .slider-nav > div  {
    width: auto;
}
.testimonial .slider-nav > div img {
    height: 60px;
    width: 90%;

}
.slick-next , 
.slick-prev , 
.slick-prev:hover ,
.slick-next:hover ,
.slick-prev:focus ,
.slick-next:focus {
    right: 15px;
    z-index: 111;
    bottom: 0;
}
.slick-prev {
   left: 15px;
}