.London {
    background-color: #fff;
}

.London .titlepage {
    text-align: center;
    padding-bottom: 54px;
}

.titlepage h2 {
    padding: 0px 0px 20px 0px;
    font-size: 45px;
    font-weight: bold;
    color: #000;
    line-height: 50px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.titlepage span {
    color: #141012;
    font-size: 17px;
    line-height: 32px;
    display: block;
}

.titlepage h2::before {
    right: 100%;
    margin-right: 15px;
}

.titlepage h2::after {
    left: 100%;
    margin-left: 15px;
}

.titlepage h2::before,
.titlepage h2::after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid #13aba6;
    top: 27px;
    width: 149px;
}

.London-img {
    margin: 0 -15px;
}

.London .London-img figure {
    margin: 0px;
}

.titlepage {
    text-align: center;
    padding-bottom: 54px;
}

.titlepage h2 {
    padding: 0px 0px 20px 0px;
    font-size: 50px;
    font-weight: bold;
    color: #050303;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.titlepage h2::before {
    right: 100%;
    margin-right: 15px;
}

.titlepage h2::after {
    left: 100%;
    margin-left: 15px;
}

.titlepage h2::before,
.titlepage h2::after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid #13aba6;
    top: 27px;
    width: 149px;
}

.titlepage span {
    color: #141012;
    font-size: 17px;
    line-height: 32px;
    display: block;
}

.London-img img {
    max-width: 100%;
    height: auto;
}